body {
  text-align: center;
}
.main-header {
  font-size: 3rem;
}
h1 {
  color: #0066cc;
}
input {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
}
.add {
  color: green;
  height: 3rem;
  width: 3rem;
  background-color: #2CFA3F;
  font-size: 1rem;
  outline: none;
  border-radius: 1rem; 
}
.contact {
  margin: auto;
  
}
.results {
 padding: 1rem;
 margin: 1rem; 
 margin: auto;
 display: inline-block;
 margin: 1.3rem;
 color: #2CFA3F;
}
.subtract {
  background: red;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  outline: none;
}
